@model Management_Web_Application.Models.StaffModels.StaffPermissionsViewModel;

@Html.DisplayNameFor(m => m.CustomerAccountDeleltionRequestBool)
@Html.CheckBoxFor(x => x.CustomerAccountDeleltionRequestBool)
<h1>Permissions page</h1>