<div class="loading" style="display:none">
    <img src="~/img/loading.gif" />
    <h3>Loading</h3>
</div>

<script>
    //submit search, display loading message
    function test() {
        $(".loading").show()
    };
</script>