<div class="text-center">
    <div class="container">
        <h1>Couldn't Establish A Connection With The Third Party</h1>
        <h3>Please Try Again</h3>
        <hr />
        <form>
            <input type="submit" value="Back To Purchase Requests" asp-action="Index" class="btn-submit">
        </form>
    </div>
</div>
<link rel="stylesheet" href="~/css/payment.css" />
